$icons: 'book', 'bucket', 'check', 'download', 'link', 'play', 'plus', 'file', 'growth', 'network', 'org', 'teamwork';

.icon {
    display: inline-block;
    background-position: center;
    background-size: cover;
    width: 1em;
    height: 1em;    
}

@each $icon in $icons {
    .icon--#{$icon} {
        background-image: url(images/icon-#{$icon}.svg);
    }
}
