$unit: 40px;

$logo-image: null;
$logo-ratio: 3.5; // width / height
$logo-height-small: 50px;
$logo-height-medium: 60px;
$logo-height-large: 70px;

$header-mobile-padding: .25; // in units

$font-size: 17px;
$font-size-small: 15.5px;
$h2-size: 34px;
$small-size: 15px;
$smaller-size: 13px;

$z-index: (
    fixed: 99,
    header-mobile: 10,
    mobile-menu: 9,
);
