<div class="ent-widget ent-widget-text">
    <div class="ent-widget-text__content">
        {% if wpautop %}
            {{ content|wpautop }}
        {% else %}
            {{ content|raw }}
        {% endif %}
    </div>
</div>
