.ent-style-guide {}

.ent-style-column {
    width: 100%;
    height: 3px;
    background-color: $light-gray;
    margin: $unit-025 0;
}

.ent-style-guide code, .ent-style-guide pre {
    color: $primary-color;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: $small-size;
}

.ent-style-guide .boxed p,
.ent-style-guide .edge-image p {
    text-align: justify;

    &:last-child {
        margin-bottom: 0;
    }
}

.ent-style-box {
    margin: 0 auto;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

$fdn-colors: (
    'primary': $primary-color,
    'secondary': $secondary-color,
    'white': $white,
    'black': $black,
);

@each $color-id, $color in $fdn-colors {
    .ent-style-box--#{$color-id} {
        background-color: $color;
        border: 1px solid $light-gray;

        span {
            font-family: $font-family-monospace;
            color: color-pick-contrast($color, ($black, $white));
        }
    }
}

$fdn-colors: (
    'light-gray': $light-gray,
    'medium-gray': $medium-gray,
    'dark-gray': $dark-gray,
);

@each $color-id, $color in $fdn-colors {
    .bg--#{$color-id} {
        border: 1px solid $light-gray;

        span {
            font-family: $font-family-monospace;
            color: color-pick-contrast($color, ($black, $white));
        }
    }
}

.ent-style-note {
    margin-top: $unit-05;
    padding: $unit-025;
    font-size: $small-size;
    background-color: $light-gray;

    &:before {
        font-family: FontAwesome;
        content: '\f121';
        color: $primary-color;
        margin-right: 5px;
    }
}
