html {
    font-size: $font-size-small;

    @include breakpoint(medium) {
        font-size: $font-size;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    margin-bottom: $unit-025;
}

h6 {
    font-family: $body-font-family;
    font-weight: bold;
}

code {
    line-height: 1em;
    font-size: .85em;
}

p:empty {
    display: none;
}

.small {
    font-size: $small-size;
}

.smaller {
    font-size: $smaller-size;
}
