// UNIT
$unit: rem-calc($unit, $font-size);
$unit-2: $unit * 2;
$unit-05: $unit / 2;
$unit-025: $unit / 4;

// HEADING
// Ease-in transition from $font-size to $h2-size
@function ease-in($t) {
    // 60% linear, 40% quadratic
    @return ($t * 0.6) + ($t * $t * 0.4);
}

$font-size-diff: $h2-size - $font-size;

$h1-size: $h2-size;
$h3-size: $font-size + $font-size-diff * ease-in(.75);
$h4-size: $font-size + $font-size-diff * ease-in(.5);
$h5-size: $font-size + $font-size-diff * ease-in(.25);
$h6-size: $font-size;

$h1-size: rem-calc($h1-size, $font-size);
$h2-size: rem-calc($h2-size, $font-size);
$h3-size: rem-calc($h3-size, $font-size);
$h4-size: rem-calc($h4-size, $font-size);
$h5-size: rem-calc($h5-size, $font-size);
$h6-size: rem-calc($h6-size, $font-size);

// SMALL/SMALLER
$small-size: rem-calc($small-size, $font-size);
$smaller-size: rem-calc($smaller-size, $font-size);
