{% extends _layout %}

{% block main %}
    <div class="row align-middle text-center" style="height: 450px;">
        <div class="small-12 columns">
            <h2><i class="fa fa-frown-o"></i> {{ __('ent.404.text') }}</h2>
        </div>
    </div>
{% endblock %}
