{% extends layout %}

{% block body %}
    <div class="row">
        <div class="column">
            <h2>`index.twig` not found</h2>
            <p>Seems like you should create an `index.twig` file or set a page or the blog as front page.</p>
        </div>
    </div>
{% endblock %}
