<div class="row">
    <div class="small-12 columns ent-style-guide">
        <h6>Headings</h6>
        <h2>Lorem ipsum dolor <code>h2</code></h2>
        <h3>Lorem ipsum dolor <code>h3</code></h3>
        <h4>Lorem ipsum dolor <code>h4</code></h4>
        <h5>Lorem ipsum dolor <code>h5</code></h5>
        <h6>Lorem ipsum dolor <code>h6</code></h6>
        <div class="ent-style-note">
            Sass variables: <code>$h2-size</code>, <code>$h3-size</code>, <code>$h4-size</code>, <code>$h5-size</code> and <code>$h6-size</code>.
        </div>

        <hr/>

        <h6>HTML elements</h6>
        <p><code>p</code> In a lobortis enim. Sed nec nibh et lorem molestie suscipit. Cras sem tortor, bibendum a vestibulum sagittis, molestie eu justo. Quisque ut nibh non lectus consequat tempor ac in quam. Vivamus malesuada porta sapien eu lacinia. Donec feugiat tincidunt nulla non sollicitudin. Phasellus et nisi eleifend, rhoncus ante et, consectetur urna. Sed congue sapien sed volutpat sagittis. In in faucibus orci. Suspendisse eros nibh, posuere ut risus ut, maximus bibendum mi.</p>
        <div class="ent-style-note">
            Sass variables: use <code>1rem</code> for the base font-size.
        </div>

        <hr/>

        <h6>Small &amp; smaller</h6>
        <p class="small"><code>.small</code> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a malesuada orci, a dignissim neque.</p>
        <p class="smaller"><code>.smaller</code> In a lobortis enim. Sed nec nibh et lorem molestie suscipit. Cras sem tortor, bibendum a vestibulum sagittis.</p>
        <div class="ent-style-note">
            Sass variables: <code>$small-size</code> and <code>$smaller-size</code>.
        </div>

        <hr/>

        <h6>Text columns</h6>
        <p class="text-columns text-columns--2"><code>.text-columns.text-columns--2</code> In a lobortis enim. Sed nec nibh et lorem molestie suscipit. Cras sem tortor, bibendum a vestibulum sagittis, molestie eu justo. Quisque ut nibh non lectus consequat tempor ac in quam. Vivamus malesuada porta sapien eu lacinia. Donec feugiat tincidunt nulla non sollicitudin.</p>
        <p class="text-columns text-columns--3"><code>.text-columns.text-columns--3</code> In a lobortis enim. Sed nec nibh et lorem molestie suscipit. Cras sem tortor, bibendum a vestibulum sagittis, molestie eu justo. Quisque ut nibh non lectus consequat tempor ac in quam. Vivamus malesuada porta sapien eu lacinia. Donec feugiat tincidunt nulla non sollicitudin.</p>
        <p class="text-columns text-columns--4"><code>.text-columns.text-columns--4</code> In a lobortis enim. Sed nec nibh et lorem molestie suscipit. Cras sem tortor, bibendum a vestibulum sagittis, molestie eu justo. Quisque ut nibh non lectus consequat tempor ac in quam. Vivamus malesuada porta sapien eu lacinia. Donec feugiat tincidunt nulla non sollicitudin.</p>

        <hr/>

        <h6>Icon list</h6>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <p><code>.icon-list</code></p>
                <ul class="icon-list">
                    <li>
                        <a href="#" class="icon-list__entry">
                            <span class="icon-list__icon"><i class="fa fa-fw fa-umbrella"></i></span>
                            <span class="icon-list__text">Lorem ipsum dolor sit amet.</span>
                        </a>
                    </li>
                    <li class="icon-list__entry">
                        <span class="icon-list__icon"><i class="fa fa-fw fa-cutlery"></i></span>
                        <span class="icon-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a malesuada orci, a dignissim neque.</span>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 columns">
                <p><code>.icon-list.icon-list--middle</code></p>
                <ul class="icon-list icon-list--middle">
                    <li>
                        <a href="#" class="icon-list__entry">
                            <span class="icon-list__icon"><i class="fa fa-fw fa-umbrella"></i></span>
                            <span class="icon-list__text">Lorem ipsum dolor sit amet.</span>
                        </a>
                    </li>
                    <li class="icon-list__entry">
                        <span class="icon-list__icon"><i class="fa fa-fw fa-cutlery"></i></span>
                        <span class="icon-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a malesuada orci, a dignissim neque.</span>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 columns">
                <p><code>.small.icon-list</code></p>
                <ul class="icon-list small">
                    <li>
                        <a href="#" class="icon-list__entry">
                            <span class="icon-list__icon"><i class="fa fa-fw fa-umbrella"></i></span>
                            <span class="icon-list__text">Lorem ipsum dolor sit amet.</span>
                        </a>
                    </li>
                    <li class="icon-list__entry">
                        <span class="icon-list__icon"><i class="fa fa-fw fa-cutlery"></i></span>
                        <span class="icon-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a malesuada orci, a dignissim neque.</span>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 columns">
                <p><code>.smaller.icon-list.icon-list--middle</code></p>
                <ul class="icon-list icon-list--middle smaller">
                    <li>
                        <a href="#" class="icon-list__entry">
                            <span class="icon-list__icon"><i class="fa fa-fw fa-umbrella"></i></span>
                            <span class="icon-list__text">Lorem ipsum dolor sit amet.</span>
                        </a>
                    </li>
                    <li class="icon-list__entry">
                        <span class="icon-list__icon"><i class="fa fa-fw fa-cutlery"></i></span>
                        <span class="icon-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a malesuada orci, a dignissim neque.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
