<div class="ent-widget ent-widget-icons">
    <ul class="ent-widget-icons__list">
        {% for icon in icons %}
            <li class="ent-widget-icons__entry">
                <a href="{{ icon.url }}" class="ent-widget-icons__link"><i class="fa fa-fw fa-{{ icon.name }} ent-widget-icons__icon"></i></a>
            </li>
        {% endfor %}
    </ul>
</div>
