{% extends 'layout.twig' %}

{% block main %}
    <div class="row">
        <div class="small-12 columns">
            {{ page.hello }}<br>
            {{ page.content }}
            <hr>
            {{ footer_address }}
        </div>
    </div>
{% endblock %}
