{% extends 'ent/base.twig' %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900" rel="stylesheet">
{% endblock %}

{% block body %}
    <header>
        <strong>HEADER</strong>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <strong>FOOTER</strong>
    </footer>
{% endblock %}
