{% extends 'ent/layout.twig' %}
{% import 'ent/macros.twig' as ent %}

{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900" rel="stylesheet">
{% endblock %}

{% block header_large %}
    {% embed 'ent/headers/appoderat.twig' %}
    {% endembed %}
{% endblock %}

{% block mobile_menu_content %}
    {{ ent.menu_expanded(main_menu, 'mu-mobile-menu__menu') }}
    {{ ent.locales_list(locales, 'native') }}
    {{ social_links }}
{% endblock %}

{% block footer %}
    <div class="row">
        <div class="small-12 columns">
            <strong>FOOTER</strong>
        </div>
    </div>
{% endblock %}
